{% extends 'base.html' %}

{% block title %}Bookmark List{% endblock %}

{% block content %}
<div class="btn-group">
  <!-- 북마크 추가 -->
  <a href="{% url 'add' %}" class="btn btn-info">Add Bookmark</a>
</div>
<p></p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Site</th>
      <th scope="col">URL</th>
      <th scope="col">Modify</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for bookmark in object_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
        <!-- 북마크 조회 -->
        <a href="{% url 'detail' pk=bookmark.id %}">{{ bookmark.site_name }}</a>
      </td>
      <td>
        <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a>
      </td>
      <!-- 북마크 수정 -->
      <td>
        <a
          href="{% url 'update' pk=bookmark.id %}"
          class="btn btn-btn-success btn-sm"
          >Modify</a
        >
      </td>
      <!-- 북마크 삭제 -->
      <td>
        <a
          href="{% url 'delete' pk=bookmark.id %}"
          class="btn btn-danger btn-sm"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
